@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap');

.App {
  width: 550px;
  height: 704px;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-right: auto;
  margin-left: auto;
}

/* ------ NAVBAR ------ */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 55px;
  background: #F55A5A;
}

.nav--text {
  padding-left: 5px;
  color:#ffffff;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

/* ------ CARD ------ */
.cards-list {
  margin-top: 45px;
 
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 470px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 36px;
  gap: 19px;
   
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card--text {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.title--text {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-bottom: 7px;
}

.description--text {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
  
}

.dates {
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  margin-top: 7px;
  margin-bottom: 9px;

}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
  
}

.location--icon {
  width: 7px;
  height: 9.55px; 
  margin-right: 4px;
}

.country {
  text-transform: uppercase;
  margin-right: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.location--link {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

